.masthead {
    margin-bottom: 1em;
}
.masthead .nav {
    background-color: #428bca;
}

.masthead .nav.nav-justified > li > a {
    color: #ffffff;
}
.masthead .nav.nav > li > a:hover, 
.masthead .nav.nav > li > a:focus {
    background-color:  #5ca5e4;
}
.masthead .nav li.active a {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
    background-color: #5ca5e4;
}

.container .jumbotron {
    border-radius: 0;
    padding: 20px;
}
.footer {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.well {
    border: none;
    background-color: #f5f5f5;
    background-image: none;
    color: #666;
}